

.burger-menu_button {
    position: fixed;
    top: 0px;
    right: 10px;
    z-index: 30;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .burger-menu_button:hover .burger-menu_lines {
    filter: brightness(0.7);
  }
  
  .burger-menu_button:hover {
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  .burger-menu_lines::before,
  .burger-menu_lines::after,
  .burger-menu_lines {
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: rgba(39, 48, 73, 1);
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .burger-menu_lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .burger-menu_lines::before {
    content: '';
    top: -12px;
  }
  .burger-menu_lines::after {
    content: '';
    top: 12px;
  }
  
  
  .burger-menu_active .burger-menu_lines {
    background-color: transparent;
  }
  .burger-menu_active .burger-menu_lines::before {
    top: 0;
    transform: rotate(45deg);
  }
  .burger-menu_active .burger-menu_lines::after{
    top: 0;
    transform: rotate(-45deg);
  }
  
  .burger-menu_nav {
    padding-top: 80px;
    position: fixed;
    top: 0;
    z-index: 20;
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: #fff;
    overflow-y: auto;
    right: -100%;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
  }
  .burger-menu_active .burger-menu_nav {
    right: 0;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    width: 100%;
  }
  .burger-menu_link {
    padding: 18px 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    color: #a15547;
    border-bottom: 1px solid #a1544710;

  }
  .burger-menu_link:first-child {
    border-top: 1px solid #fff;
  }
  .burger-menu_link:hover {
    filter: brightness(0.9);
  }
  .burger-menu_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
  }
  .burger-menu_active .burger-menu_overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .burger_menu__img{
    width: 100%;
    display: flex;
    align-items: center;
  padding-left: 15px;
  margin-bottom: 15px;
  }
  .burger_menu__img img {
    width: 50%;
  }
  .burger_menu__all_rights{
    position: absolute;
    bottom: 1%;
    width: 100%;
    text-align: center;
  }
  .burger_menu__all_rights p {
    color: rgba(39, 48, 73, 1);
  }
  .burger_menu__all_rights p a {
    color: #a15547;
  }


  .burger__menu__language {
    width: 100%;
    padding: 0px 20px;
    display: flex;

  }
  .burger__language__block {

  }
  .burger__language__block a {
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    
    background-color: #a15547;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px  30px ;
  }
  .burger__language__block:last-child{
    margin-left: 1em;
  }
  

.header__image a {
  font-family: 'Cormorant Garamond', serif;
    color: #020e28;
    font-size: 30px;
    font-weight: 700;
}

