.swiper {
    width: 100%;
    height: calc(100vh - 112px);
  margin-top: 88px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .swiper__wrapper__block{
    width: 100%;
    height: 100%;
  }
.sipwer__image__block{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.sipwer__image__block img {
  width: 100%;
}
  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-pagination-bullet{
    width: 15px;
    height: 15px;
  }


.swiper-button-next:after,  .swiper-button-prev:after {
  color: #fff;

}

.swiper-slide2{
  width: 100%;
  height: 100%;
display: flex;
flex-direction: column;

}

.swiper-pagination-bullet{
  width: 12px;
  height: 12px;
  background-color: #fff ;
}
.swiper-pagination-bullet-active{
  width: 15px;
  height: 15px;
}
.swiper-pagination-bullet-active {
  background-color: #d58f76 !important;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap,10px);
}
@media only screen and (max-width: 427px) {
  .swiper{
    height: calc(100vh - 90px);
  }
}